-# in app/views/movies/similar.html.haml

%h2 Movies similar to #{@movie.title}

%tbody
  - @movie_list.each do |movie|
    %tr
      %td= movie.title 
      %td= movie.rating
      %td= movie.release_date
      %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Find Movies With Same Director', movie_path(@movie) + '/similar'
= link_to 'Edit', edit_movie_path(@movie)
= button_to 'Delete', movie_path(@movie), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to movie list', movies_path
